body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

.search-container {
    margin: 20px 0;
}

input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}

#cartonImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
